.toto-top-button {
    position: fixed;
    bottom: 40px;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    svg {
        transform: rotateZ(-90deg);
        fill: #000;
    }

    &:hover {
        box-shadow: 0px 0px 5px 1px #ababab;
    }

    &.right {
        right: 40px;
    }
    &.left {
        left: 40px;
    }
}